PORT=5000

# Local MongoDB
# MONGO_URI=mongodb://localhost:27017/expense-tracker

# MongoDB Atlas (replace YOUR_DB_PASSWORD with your Atlas database user password)
MONGO_URI=mongodb+srv://prathampateliya06_db_user:YOUR_DB_PASSWORD@cluster0.iiytvhd.mongodb.net/expense-tracker?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:5173
